body {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	margin: 0px;
}

header {
	position: fixed;
	width: 100%;
	border-bottom: solid 1px seashell;
	height: 69px;
	background-color: black;
}

#header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

#logo {
	padding-left: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	width: 350px;
	margin-right: 10px;
}

nav a {
	color: seashell;
}

.content {
	display: flex;
	padding-top: 69px;
}

#mission {
	height: 700px;
	background: no-repeat center url("images/img-mission-background.jpg");
	justify-content: center;
	align-items: center;
}

#banner {
	width: 1200px;
	height: 120px;
	background-color: black;
}

#banner > h2,
#banner > h4 {
	margin: 20px auto;
}