
body {
	font-family: Helvetica, sans-serif;
	font-size: 22px;
	color: seashell;
	background-color: black;
	opacity: 0.9;
	text-align: center;
	margin: 0px;
}

/* header*/

header {
	position: fixed;
	width: 100%;
	border-bottom: solid 1px seashell;
	height: 69px;
	background-color: black;
}

#header-content {
	display: flex;
	justify-content: space-between;
	align-items: center;
	height: 100%;
}

#logo {
	padding-left: 10px;
}

nav {
	display: flex;
	justify-content: space-between;
	width: 350px;
	margin-right: 10px;
}

nav a {
	color: seashell;
}

/* anchors (allows for fixed header) */

.anchor{
  display: block;
  height: 20px;
  visibility: hidden;
}

/* mission section */

.content {
	display: flex;
	justify-content: center;
}

#mission {
	height: 700px;
	background: no-repeat center url("images/img-mission-background.jpg");
	align-items: center;
	padding-top: 69px;
}

#banner {
	width: 1200px;
	height: 120px;
	background-color: black;
}

#banner > h2,
#banner > h4 {
	margin: 20px auto;
}

/* featured section */

#featured {
	flex-wrap: wrap;
	width: 1000px;
	margin: 50px auto;
}

.featured-group {
	padding: 0px 15px;
}

#featured-imgs {
	display: flex;
	width: 100%;
	flex-wrap: wrap;
	justify-content: center;
}

.featured-group > h4 {
	margin-top: 10px;
}

/* locations section */
#locations {
	height: 500px;
	background: no-repeat center url("images/img-locations-background.jpg");
	flex-wrap: wrap;
	margin: 50px auto;
	align-content: center;
}

#location-boxes {
	display: flex;
	justify-content: center;
	width: 100%;
}

#location-title h2 {
	margin-top: 0px;
	margin-bottom: 15px;
}

.location {
	width: 300px;
	background-color: black;
	opacity: 1;
	margin: 0px 20px;
}

/* address */
address {
	height: 200px;
	font-style: normal;
}

/* footer */
footer {
	text-align: left;
	padding-left: 20px;
}
